$background-color: rgb(247, 247, 247);
$color-button: rgb(237, 217, 36);

section.header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/src/img/5932509.jpg);  
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.button__header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: $color-button;
    color: black;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 30px;
    padding-left: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.button__header:hover {
    background-color:#333;
    color: #fff;
    cursor: pointer;
}

.list__header {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-top: -25px;
    font-weight: bold;
    cursor: pointer;
}

.list__header a {
    color: white; /* Cor branca */
    text-decoration: none; /* Remove a linha embaixo */
}

.list__header a:hover {
    color: $color-button; /* Cor ao passar o mouse */
}

/* Ajustes para a seção "Sobre a série" */
section.sobre-a-serie {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/src/img/star-trek-header.jpg);  /* Imagem de fundo */
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: relative;  /* Necessário para posicionar o texto dentro da seção */
}

/* Caixa de texto sobre a imagem */
.texto-caixa {
    position: absolute;  /* Faz a caixa de texto flutuar sobre a imagem */
    top: 50%;  /* Centraliza verticalmente na metade da tela */
    left: 5%;  /* Alinha à esquerda */
    transform: translateY(-50%);  /* Ajusta a posição vertical para que a caixa fique centralizada */
    background-color: rgba(255, 255, 255, 0.377);  /* Fundo branco com opacidade */
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    max-width: 500px;  /* Limita a largura da caixa de texto */
    color: #333;  /* Cor do texto */
    font-size: 1.5rem;  /* Tamanho do texto */
    font-weight: bold;
}

section.sobre-elenco {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/src/img/elenco.png);  /* Imagem de fundo */
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: relative;  /* Necessário para posicionar o texto dentro da seção */
}

.texto-caixa-elenco {
    position: absolute;  /* Faz a caixa de texto flutuar sobre a imagem */
    top: 70%;  /* Centraliza verticalmente na metade da tela */
    left: 10%;  /* Alinha à esquerda */
    transform: translateY(-50%);  /* Ajusta a posição vertical para que a caixa fique centralizada */
    background-color: rgba(255, 255, 255, 0.523);  /* Fundo branco com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;  /* Limita a largura da caixa de texto */
    max-height: 300px;
    color: #333;  /* Cor do texto */
    font-size: 1rem;  /* Tamanho do texto */
    font-weight: bold;
}

/* Estilizando os títulos das seções */
h2.texto-sobre {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
}

.texto-sobre {
    font-size: 1.1rem;
    color: #fff;
}

section.novos-projetos {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/src/img/sobre-a-serie.jpg);  /* Imagem de fundo */
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: relative;  /* Necessário para posicionar o texto dentro da seção */
}

.texto-novos-projetos {
    position: absolute;  /* Faz a caixa de texto flutuar sobre a imagem */
    top: 50%;  /* Centraliza verticalmente na metade da tela */
    left: 5%;  /* Alinha à esquerda */
    transform: translateY(-50%);  /* Ajusta a posição vertical para que a caixa fique centralizada */
    background-color: rgba(255, 255, 255, 0.553);  /* Fundo branco com opacidade */
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    max-width: 500px;  /* Limita a largura da caixa de texto */
    color: #333;  /* Cor do texto */
    font-size: 1.5rem;  /* Tamanho do texto */
    font-weight: bold;
}

.form-container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #333;
    color: #fff;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button[type="submit"] {
    cursor: pointer;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}